absl-py==0.9.0
alabaster==0.7.12
gensim==3.8.1
Flask==1.1.1
gunicorn==20.0.4
nltk==3.4.5
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
lazy-object-proxy==1.4.2
libarchive-c==2.8
more-itertools==7.2.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
patsy==0.5.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==6.2.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
tables==3.5.2
tblib==1.4.0
tqdm==4.36.1
